@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
	padding: 0px;
	border: 0px;
}

p {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom:0px;
}

p.heading {
	font-size: 18px;
	font-weight: bold;
	margin-top:30px;
	margin-bottom:0px;
	color: #006600;
}

a {
	outline:none;
}

a.expandLink {
	color: #006600;
	text-decoration: underline;
}

a.expandLink:hover {
	color: #00CC00;
}

a.startEbook {
	color: #000099;
	text-decoration: underline;
}

a.startEbook:hover {
	color: #0000FF;
}

dl {
	margin:0px;
}

dt {
	color: #000099;
	font-size: 15px;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom:0px;
	margin-left:1px;
}

dd {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom:0px;
	margin-left:12px;
}

div.collection {
	margin:0px;
	border:0px;
	border:0px;
}

div.collectionList {
	margin-top:8px;
	margin-left:10px;
	margin-bottom:0px;
	padding-left:12px;
	padding-right:20px;
	padding-top:2px;
	padding-bottom:5px;
	background-color:#FFFFFF;
	border:1px #000000 solid;
}

p.clickInfo {
	color:#FF0000;
	font-weight: bold;
}



div.boxed {
	background-color:#ffffff;
	border: 2px ridge gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
}

div.boxed p {
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	color:black;
}

p.footnote {
	color:#999999;
	font-size:smaller;
	text-align:right;
	margin-top:5pt;
	margin-bottom:0pt;
}