@charset "UTF-8";
/* CSS Document */


body {
	margin:0px;
	border:0px;
	padding:0px;
}

iframe#banner {
	position:absolute;
	background-color:#EEEEEE;
	margin:0px;
	border:0px;
	padding:0px;
	top:0px;
	height:95px;
	width:100%;
}
div#tabs {
	position:absolute;
	background-color:#DDDDDD;
	margin:0px;
	border:0px;
	padding:0px;
	width:100%;
	top:95px;
	height:26px;
  white-space: nowrap;
  overflow: hidden;
}
iframe#content {
	position:absolute;
	background-color:#FFFFFF;
	margin:0px;
	border:0px;
	padding:0px;
	top:121px;
	bottom:0px;
	width:100%;
}

/*
iframe#javaTest {
	position:absolute;
	background-color:#99FFFF;
	margin:0px;
	border:0px;
	padding:0px;
	top:0px;
	left:400px;
	height:0px;
	width:50px;
}
*/

td.oneTab {
	background-color: #DDDDDD;
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 26px;
}

td span.oneTab {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	vertical-align:37%;
	color:#660000;
}

img {
	border-width:0px;
}

td a {
	outline:none;
	text-decoration:none;
}

div#flagDiv {
	position:absolute;
	top:2px;
	right:120px;
	width:24px;
	height:24px;
	margin:0px;
	padding:0px;
	z-index:1;
}

div#flagChoice {
	position:absolute;
	top:28px;
	right:120px;
	width:140px;
	height:24px;
	margin:0px;
	padding:0px 1px 0px 1px;
	z-index:1;
	display:none;
	background:#99CCFF;
	border:1px solid #000000;
}

div#flagChoice img {
	padding-left:2px;
	padding-right:2px;
	cursor:pointer;
}