@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 30px;
	padding: 0px;
	border: 0px;
}

p {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom:0px;
}

p.heading {
	font-size: 18px;
	font-weight: bold;
	margin-top:30px;
	margin-bottom:0px;
	color: #990000;
}

p.indented {
	margin-left:25px;
	margin-bottom:0px;
}

a {
	outline:none;
}

a.urlLink {
	color: #0000FF;
	text-decoration: underline;
}

a.urlLink:hover {
	color: #990066;
}

a.expandLink {
	color: #990000;
	text-decoration: underline;
}

a.expandLink:hover {
	color: #FF0000;
}

ul {
	margin:0px;
}

li {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom:0px;
	margin-left:15px;
}

dl {
	margin:0px;
}

dt {
	font-size: 15px;
	font-weight: bold;
	color: #000099;
	margin-top: 8px;
	margin-bottom:0px;
	margin-left:15px;
}

dd {
	font-size: 13px;
	margin-top: 8px;
	margin-bottom:0px;
	margin-left:25px;
}


div.boxed {
	background-color:#ffffff;
	border: 2px ridge gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
}

div.boxed p {
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	color:black;
}


div.warning {
	background-color:#FFFF33;
	border: 2px ridge gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top:40px;
	margin-bottom:10px;
	color:#FF0000;
}

div.warning p {
	margin-top:10px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	font-size: 18px;
}

p.footnote {
	color:#999999;
	font-size:smaller;
	text-align:right;
	margin-top:5pt;
	margin-bottom:0pt;
}