@charset "UTF-8";

div.lecturerNote {
	display: none;
	
	border:  1px solid #FFCC99;
	padding: 15px 5px;
	
	background: #F7F9FF;
	
	font-family: "Times New Roman", serif;
	color:black;
}

a.l_link {
	display:block;
	float:left;
	
	padding-left:5pt;
	padding-top:5pt ;
	padding-bottom:5pt;
	padding-right:5pt;
	
	margin-top:50px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	font-size:larger;
	font-weight:bold;
	color:#990000;
}

a.d_link {
	display:block;
	float:right;
	text-align:right;
	
	padding-left:5pt;
	padding-top:5pt ;
	padding-bottom:5pt;
	padding-right:5pt;
	
	margin-top:50px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	font-size:larger;
	font-weight:bold;
	color:#990000;
}

div.lecturerNote p.heading {
	margin-left:3pt;
	margin-top:5pt ;
	margin-bottom:10pt;
	margin-right:5pt;
	
	font-size:larger;
	font-weight:bold;
}

div.lecturerNote p {
	margin-left:8pt;
	margin-top:5pt ;
	margin-bottom:10pt;
	margin-right:5pt;
	
	line-height:1.2em;
}

div.lectureNote ul {
	margin-left:0px;
	border:0px;
	padding-left:0px;
	margin-bottom:10px;
	margin-top:5px;
	color:black;
}

span.hilite {
	color:#660000;
	font-weight:bolder;
}
