@charset "UTF-8";

div.menu {
	position:absolute;
	top:0;
	right:0;
	
	display: block;
	
	border:  1px solid #BBBBBB;
	border-top:0px;
	border-right:0px;
	padding: 2px 5px;
	
	background: #FFFFFF;
	
	text-decoration: none;
  font-family: arial, helvetica, sans-serif;
	font-weight: 900;
	font-size: 0.5em;
	color:   #CC3300;
	
	cursor: pointer;
}

a.firstMenuItem, a.firstMenuItem:visited {
	display: inline;
	
	border:  1px solid black;
	padding: 2px 5px;
	
	background: #FFFFFF;
	
	text-decoration: none;
  font-family: arial, helvetica, sans-serif;
	font-weight: 900;
	font-size: 0.9em;
	color:   #006600;
	
	cursor: pointer;
}

a.menuItem, a.menuItem:visited {
	display: inline;
	
	border:  1px solid black;
	border-left: none;
	padding: 2px 5px;
	
	background: #FFFFFF;
	
	text-decoration: none;
  font-family: arial, helvetica, sans-serif;
	font-weight: 900;
	font-size: 0.9em;
	color:   #006600;
	
	cursor: pointer;
}

img.tick {
	vertical-align:-3px;
}

a.menuItem:hover {
	background: #FFFF66;
}

a.firstMenuItem:hover {
	background: #FFFF66;
}

div#attach_menu_child {
	border:none;
	padding:3px;
	position: absolute;
}
