H1.chapterName {color:#003300; text-align:center; margin-left:-16pt; margin-bottom:-3em; text-decoration:underline; font-family:"Arial", sanserif; font-size:48px; page-break-after:avoid}
H1.sectionName {color:#660000; margin-top:6em; margin-left:-16pt; font-family:"Arial", sanserif; font-size:36px; page-break-after:avoid}
H2.pageName {color:#000066; margin-top:4em; margin-left:-16pt; font-family:"Arial", sanserif; font-size:28px; page-break-after:avoid}

BODY {margin:25pt; padding:0pt; font-family:"Times New Roman", serif}
BODY.lecture {margin:10pt; padding:0pt; font-family:"Times New Roman", serif;}

DIV.diagram {margin-left:10pt; padding:10pt; border-width:3pt; border-style:solid; border-color:#FF9966; background-color:#FFCC99;}
div.centred {margin-left:auto; margin-right:auto; text-align:center;}

P {margin-left:20pt; margin-top:15pt ; margin-bottom:15pt; line-height:1.5em}
UL {padding-left: 10pt; line-height:1.5em; margin-top:5pt; margin-bottom:0pt;
margin-left: 20pt; }
OL {padding-left:10pt; line-height:1.5em; margin-top:10pt; margin-bottom:0pt;
margin-left: 20pt; }
DL {line-height:1.5em; margin-top:10pt; margin-bottom:0pt;
margin-left: 20pt; }

DT {font-weight:bold; margin-left:20pt; margin-top:5pt; line-height:1.5em; page-break-after:avoid}
DD {line-height:1.5em; margin-left:40pt}
LI {margin-left:20pt; line-height:1.5em; margin-top:5pt;}

table {margin:15pt;}
table.centred {margin-left:auto; margin-right:auto;}
TD {line-height:1.3em;}
TH {line-height:1.3em;}
TD.single {line-height:100%;}
TD.smallSingle {line-height:130%; font-family:Arial, Helvetica, sans-serif; font-size:small;}

P.eqn {line-height:normal; margin-top:10pt ; margin-bottom:10pt; text-align:center;}
P.heading {margin-left:0pt; font-size:larger; font-weight:bold; page-break-after:avoid;}
p.questionPart {margin-left:0pt; margin-bottom:-10pt; color:black; font-size:larger; font-weight:bold; page-break-after:avoid;}

div.leftTocCol {width:50%; float:left; margin:0;}
div.rightTocCol {width:50%; float:right; margin:0}
OL.toc {padding-left:0pt; line-height:1.2em; margin-top:10pt; margin-bottom:0pt;
margin-left: 20pt; color:#660000; font-weight:bold;}

p.notPrinted {
	display:none;
}

applet {outline-width:0px;}

h1.breakBefore {page-break-before:always;}

SPAN.instruction {}
SPAN.reference {}
SPAN.symbol {font-family: Symbol;}


body.lecture select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom:10pt;
}

div.boxed {
	background-color:#ffffff;
	border: 2px ridge gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:25px;
}

div.percent50 {
	width:50%;
}

div.boxed strong {
	color:red;
}

div.boxed ul {
	margin-left:0px;
	border:0px;
	padding-left:0px;
	margin-bottom:10px;
	margin-top:5px;
}

div.boxed li {
}

div.boxed p {
	margin-top:6px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
}

div.rightBoxLink {
	float: right;
	background-color: #ffffff;
	border-style:solid;
	border-width: 1px;
	border-color:#666666;
	margin: 5px;
	padding: 10px;
	font-size: large;
}

div.rightBoxLink a {
	color:#000000;
}

sub  { vertical-align: -0.4em; }

img.summaryPict {
	background-color:#FFFFFF;
	border:solid 1px #666666;
	padding:3px;
}

div#overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	align:center;
	z-index: 1000;
	background-image:url(images/opaque.png);
}

div#dialogWindow {
	position: relative;
	width:500px;
	height:450px;
	margin: 10px auto;
	background-color: #fff;
	border:1px solid #000;
	text-align:center;
	overflow:auto;
}

div.printDialog {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
}

div.heading {
	left:0;
	top:0;
	height:1.5em;
	width:100%;
	overflow:hidden;
	background-color:#5471B6;	
	padding-top:0.5em;
	padding-bottom:0.1em;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
}

.printDialog p.text {
	margin:12px 15px 12px 15px;
	text-align:left;
}

table table {			/*  for inner table  */
	margin:0px;
}

td.top, th.top {border-top:solid 1px #666;}
td.bottom, th.bottom {border-bottom:solid 1px #666;}
td.left, th.left {border-left:solid 1px #666;}
td.right, th.right {border-right:solid 1px #666;}

.black {color:#000}
.red {color:#F00}
.darkred {color:#900}
.blue {color:#00F}
.darkblue {color:#009}
.green {color:#060}
.purple {color:#609}
.gray {color:#666}
.brown {color:#C60}
.white {color:#FFF}

.em {font-style:italic}
.bold {font-weight:bold}

.arial {font-family:Arial,Helvetica,sans-serif}

.bigger {font-size:110%}
.smaller {font-size:82%}
.verysmall {font-size:60%}

/*    for gif and svg images in choices		*/
img.gif {display:inline}
iframe.svg {display:none}

span.textSub {				/*	for sans-serif subscript	*/
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	font-size: 0.7em;
	position: relative;
	top: 0.4em;
	margin-left: 2px;
	margin-right: 2px;
}