@charset "UTF-8";


.localSite { display:none;}
.remoteSite { display:none;}

.browser_tablet {display:none;}
		.onlyApplets {display:none;}
		.nonApplets {display:none;}

.browser_java {display:none;}
.browser_noJava {display:none;}



.windows {display:none;}
	.windows7 {display:none;}
	.windows8 {display:none;}
.mac {display:none;}
	.leopard {display:none;}
	.lion {display:none;}

.ie  {display:none;}
.ie8Videos  {display:none;}
.firefox  {display:none;}
.chrome  {display:none;}
.safari  {display:none;}
.otherBrowser  {display:none;}

.latestButton {display:none;}
.showingLatest {display:none;}


body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
	margin:5px 20px;
	background-color:#EBF2FF;
	padding-top:10px;
}

p.heading {
	font-size:18px;
	font-weight:bold;
	text-align:left;
}

p#platform {
  font-size: 20px;
	font-weight:bold;
	color:#600;
	text-align:center;
}

li {
	padding:4px;
}

td.buttonCell {
	border:0px;
	padding-right:10px;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:right;
}

td.descriptionCell {
	border:0px;
	padding-right:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:left;
}

.buttonStyle {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b3b3b3;
	display:inline-block;
	color:#3d3d3d;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #dedede;
}
.buttonStyle:hover {
	background-color:#f0f0f0;
}
.buttonStyle:active {
	position:relative;
	top:1px;
}

div#updateMessage {
	display:none;
	background-color:#FFFFCC;
	padding:6px 20px;
	margin:-20px -20px 0px -20px;
	border-bottom:1px solid #666666;
}

div#updateMessage h2 {
	text-align:center;
	color:#FF0000;
}