body {margin:5pt; padding:0pt; font-family:"Times New Roman", serif}

h1 {color:#003300; text-align:left; margin-left:0pt; margin-bottom:0.5em; font-family:"Arial", sanserif; font-size:30px; text-align:center; text-decoration:underline; page-break-after:avoid}
h2 {color:#660000; margin-top:2em; margin-bottom:1em; margin-left:0pt; font-family:"Arial", sanserif; font-size:22px; page-break-after:avoid}
h3 {color:#000066; margin-top:0.8em; margin-bottom:0.3em; margin-left:15pt; font-family:"Arial", sanserif; font-size:16px; page-break-after:avoid}

p {margin-left:55pt; margin-top:0 ; margin-bottom:0.8em; line-height:1.5em}