@charset "UTF-8";
div#toc {
	background-color: #EEEEEE;
	border-right: 1px solid #BBBBBB;
	font: bold 15px Arial, Helvetica, sans-serif;
	font-stretch:semi-condensed;
	color: #666666;
	margin:0px;
/*
	padding-left:10px;
	padding-top:5px;
*/
	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden; 
}

/* -----------------------------------*/

a.whiteLink:hover {
	text-shadow:0px 0px 6px #666;
/*	text-shadow:0px 0px 8px #FF6, 0px 0px 4px #F66;	*/
}

a.whiteLink:link {
	color: #666666;
	background-color: #EEEEEE;		/* seems needed to stop Safari sometimes using white background	*/
	text-decoration: none;
}

a.whiteLink:visited {
	color: #666666;
	text-decoration: none;
}

a.whiteLink:active {
	color: #666666;
	text-decoration: none;
}

/* -----------------------------------*/

a.yellowLink:hover {
	text-shadow:0px 0px 5px #930;
/*	text-shadow:0px 0px 8px #FF6, 0px 0px 4px #F66;	*/
}

a.yellowLink:link {
	color: #E01800;
	text-decoration: none;
}

a.yellowLink:visited {
	color: #E01800;
	text-decoration: none;
}

a.yellowLink:active {
	color: #E01800;
	text-decoration: none;
}

div#toc li.selected {		/* for section number when selected */
	color: #E01800;
	text-decoration: none;
}

/* -----------------------------------*/

a.greenLink:hover {
	text-shadow:0px 0px 6px #0F0;
/*	text-shadow:0px 0px 8px #FF6, 0px 0px 4px #F66;	*/
}

a.greenLink:link {
	color: #008900;
	text-decoration: none;
}

a.greenLink:visited {
	color: #008900;
	text-decoration: none;
}

a.greenLink:active {
	color: #008900;
	text-decoration: none;
}

/* -----------------------------------*/

p.ch {
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 1px;
	padding-left: 3px;
	white-space: pre;
}

p.about {
	padding-top: 6px;
	padding-bottom: 8px;
	margin: 0px;
	padding-left: 11px;
}

p.index {
	padding-top: 12px;
	padding-bottom: 2px;
	margin: 0px;
	padding-left: 11px;
}

p.datasets {
	padding-top: 0px;
	padding-bottom: 2px;
	margin: 0px;
	padding-left: 11px;
}

p.part {
	margin-left: 0px;
	margin-bottom: 2px;
	color: #222255;
	white-space: pre;
	padding-left: 3px;
}

p.logo {
	margin:0px 0px 0px -10px;
	padding:0px;
	text-align:center;
}

ol {
	font-size:12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 35px;
	margin: 0px;
	font-weight: normal;
}
ol li {
	list-style-position: outside;
	padding-top: 2px;
	padding-bottom: 1px;
	letter-spacing: -0.5px;
	margin: 0px;
}