@charset "UTF-8";


div.full_text {
	background-color:transparent;
	display:none;
}

div.summary_text {
	background-color:transparent;
	display:none;
}

div.video_text {
	background-color:transparent;
	display:block;
}