 

div.theoremProof {
	margin-bottom:10px;
}

div.theoremProof div.theorem {
	display: block;
	background-color:#EBF6FB;
	margin: 0px;
	border:dotted 1px #000000;
	border-collapse:collapse;
	color:#000;
 }

div.theoremProof div.theorem p {
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
 }

div.theoremProof div.theorem p.theoremTitle {
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 1px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	background-color:#B3DBEB;
 }
 
div.theoremProof div.proof {
	display: block;
	background-color:#FFF;
	margin: 0px;
	border:dotted 1px #000000;
	border-top-width:0px;
	color:#19546C;
 }
 

div.theoremProof div.proof p {
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
 }
 

div.theoremProof div.proof p.proofTitle:hover {
	background-color:#EBF6FB;
 }

div.theoremProof div.proof p.proofTitle {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left:0px;
	padding-left:10px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	color:#000000;
 }
 
div.theoremProof div.proofLink {
	display: none;
	background-color:#EBF6FB;
	margin: 0px;
	border:dotted 1px #000000;
	border-top-width:0px;
 }
div.theoremProof div.proofLink:hover {
	background-color:#FFFFFF;
 }

div.theoremProof div.proofLink p.proofTitle {
	color:#000000;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left:10px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
 }
 
div.theoremProof div.theorem p.theoremNote {
	display: block;
	background-color:#B3DBEB;
	margin: 0px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 0px;
	font-size:smaller;
	font-weight:bold;
	font-style:italic;
	color:#000;
	text-align:center;
 }
 
 /* ---------------------------------- */

div.questionSoln {
	margin-bottom:10px;
}

div.questionSoln div.question {
	display: block;
	background-color:#E9FFED;
	margin: 0px;
	border:dotted 1px #000000;
	color:#000;
 }

div.questionSoln div.question p {
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
 }

div.questionSoln div.question p.questionTitle {
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 2px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	background-color:#AFE9B8;
 }

div.questionSoln div.question p.questionNote {
	margin: 0px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 0px;
	font-size:smaller;
	font-weight:bold;
	font-style:italic;
	background-color:#AFE9B8;
	text-align:center;
 }
 
div.questionSoln div.solution {
	display: block;
	background-color:#FFFFFF;
	margin: 0px;
	border:dotted 1px #000000;
	border-top-width:0px;
	color:#18461F;
 }
 

div.questionSoln div.solution p {
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
 }
 

div.questionSoln div.solution p.solutionTitle:hover {
	background-color:#E9FFED;
 }

div.questionSoln div.solution p.solutionTitle {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left:0px;
	padding-left:10px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	color:#000;
 }
 
div.questionSoln div.solutionLink {
	display: none;
	background-color:#E9FFED;
	margin: 0px;
	border:dotted 1px #000000;
	border-top-width:0px;
 }
 
div.questionSoln div.solutionLink:hover {
	background-color:#FFFFFF;
 }

div.questionSoln div.solutionLink p.solutionTitle {
	color:#000;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left:10px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
 }
 
 /* ---------------------------------- */
 
div.definition {
	display: block;
	background-color:#FFFFFF;
	margin: 0px;
	margin-bottom:10px;
	border: solid 1px #0000FF;
	color:#000;
 }

div.definition p.definitionTitle {
	margin:0px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:2px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	background-color:#E0F6FF;
	border-bottom:1px dotted #0000FF;
	color:#00B;
 }



 /* ---------------------------------- */
 
 
div.example {
	display: block;
	background-color:#FFFBF3;
	margin: 0px;
	margin-top:30px;
	margin-bottom:10px;
	border: solid 1px #5B3300;
	border-top-width:0px;				/* assumes that there is a heading paragraph first */
	color:#000;
	border-collapse:collapse;
 }

div.example p.exampleHeading {
	margin:0px;
	padding-top:9px;
	padding-left:10px;
	padding-bottom:6px;
	font-size:larger;
	font-weight:bold;
	font-style:italic;
	background-color:#F3E6D6;
	border-bottom:1px solid #5B3300;
	border-top:1px solid #5B3300;
	border-collapse:collapse;
	color:#000000;
 }

div.example li {
	color:#000;
}

div.example p.exampleNote {
	margin: 0px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 0px;
	border-top:1px solid #5B3300;
	font-size:smaller;
	font-weight:bold;
	font-style:italic;
	background-color:#F3E6D6;
	text-align:center;
 }

