body {margin:10pt 20pt; padding:0pt; background-color:#FFFFFF; color:#330000; font-family:"Times New Roman", serif;}
body.about {margin:10pt; padding:0pt; background-color:#FFCC99; color:black; font-family:"Times New Roman", serif;}
body.lecture {margin:10pt; padding:0pt; background-color:#E8E8E8; color:black; font-family:"Times New Roman", serif;}
/*
body.banner {margin:0 0 0 0; padding:0 0 0 0; background-color:#F6F6FF; color:black; border-bottom 1px solid #BBBBBB}
body.toc {margin:20px 0 0 0; padding:0 0 0 0; background-color:#F6F6FF; color:black; border-right 1px solid #BBBBBB}
*/

div.diagram {margin:15pt 0pt 15pt 10pt; padding:10pt; color:black; background-color:#F3F3F3; border:1px solid #999999;}
div.centred {margin-left:auto; margin-right:auto; text-align:center;}
div.explanation {margin:0; padding:0;}

/*
body.video {background-color:#FFFFCC;}
body.video div.diagram {background-color:#FFCC99; border:1px solid #CD7530}
*/

p {margin:15pt 0pt 15pt 20pt; line-height:1.5em;}

ul {padding-left: 10pt; line-height:1.5em; margin:15pt 0pt 15pt 20pt}
ol {padding-left:10pt; line-height:1.5em; margin:15pt 0pt 15pt 20pt}
li {margin-left:20pt; margin-top:5pt; line-height:1.5em; color:#000077;}
div.diagram li {color:#000044;}

dl {line-height:1.5em; margin:15pt 0pt 15pt 20pt;}
dt {font-weight:bold; margin-left:20pt; margin-top:5pt; line-height:1.5em; color:#000099;}
/*  dt.contents {margin-left:10pt; margin-top:7pt;}  */
dd {line-height:1.5em; margin-left:40pt;}
/*  dt.exercise a:link {color:#FF3300;}  */


table {margin:15pt;}
table.centred {margin-left:auto; margin-right:auto;}
td {line-height:1.3em;}
th {line-height:1.3em;}
td.single {line-height:100%;}
td.smallSingle {line-height:130%; color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:small;}

p.eqn {line-height:normal; margin-top:10pt ; margin-bottom:10pt; text-align:center;}
p.heading {margin-left:0pt; color:black; font-size:larger; font-weight:bold;}
p.questionPart {margin-left:0pt; margin-bottom:-10pt; color:black; font-size:larger; font-weight:bold;}
p.nextArrow {margin-top:30pt; margin-bottom:10pt; text-align:center;}
p.footnote {color:#999999; font-size:smaller; text-align:right; margin-top:5pt; margin-bottom:0pt;}
a.footnote {color:#999999; text-decoration:none;}

p.notPrinted {
	display:block;
}

applet {outline-width:0px;}

span.instruction {color:#000066;}
span.reference {color:#000099;}
span.symbol {font-family: Symbol;}

/*
span.note {
	font-family: "Comic Sans MS",cursive;
	font-weight:bold;
	font-size:13pt;
	color:#BB0000;
	text-shadow:2px 2px 4px #555;
}
*/


body.lecture select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom:10pt;
}

div.boxed {
	background-color:#ffffff;
	border: 1px solid gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin:15px auto;
}

div.percent50 {
	width:50%;
}

div.percent75 {
	width:75%;
}

div.boxed strong {
	color:red;
}

div.boxed ul {
	margin-left:0px;
	border:0px;
	padding-left:0px;
	margin-bottom:10px;
	margin-top:5px;
	color:black;
}

div.boxed li {
	color:black;
	text-align:left;
}

div.boxed p {
	margin-top:6px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	color:black;
}

/*
div.sectionStar {
	margin: 0px;
	border: 0px;
	position: absolute;
	left: 20px;
	top:20px;
	height:31px;
	width:31px;
}

div.sectionUnderscore {
	margin: 0px;
	border: 0px;
	position: absolute;
	left: 20px;
	top:53px;
	height:4px;
	width:443px;
	z-index:-1;
}

p.sectionHeading {
	margin:14pt 0pt 20pt 26pt;
	font-size:24px;
	font-weight:bold;
	color:#990000;
}
*/

td.chapterHeading {
	padding:3pt 10pt 6pt 10pt;
	text-align:center;
	line-height:95%;
	font-size:36px;
	font-weight:bold;
	color:#E01800;
}

td.moduleHeading {
	padding:3px 10px 0px 10px;
	text-align:center;
	font-size:36px;
	font-weight:bold;
	color:#E01800;
}

div.rightBoxLink {
	float: right;
	background-color: #ffffff;
	border-style:solid;
	border-width: 1px;
	border-color:#666666;
	margin: 5px;
	padding: 10px;
	font-size: large;
	font-weight:bold;
	cursor:pointer;
}
div.rightBoxLink a {
	color:#000000;
}

sub  { vertical-align: -0.4em; }

div.full_text {
	background-color:#66FFFF;
	display:block;
}

div.summary_text {
	background-color:#FF66FF;
	display:block;
}

div.browser_only {
	display:block;
}

div.standAlone_only {
	display:none;
}

div.divChoice {
	margin:0px;
	padding:0px;
}

/*
dd.full_text {
	display:block;
}
*/

img.summaryPict {
	background-color:#FFFFFF;
	border:solid 1px #666666;
	padding:3px;
}

table table {			/*  for inner table  */
	margin:0px;
}

td.top, th.top {border-top:solid 1px #666;}
td.bottom, th.bottom {border-bottom:solid 1px #666;}
td.left, th.left {border-left:solid 1px #666;}
td.right, th.right {border-right:solid 1px #666;}

.black {color:#000}
.red {color:#F00}
.darkred {color:#900}
.blue {color:#00F}
.darkblue {color:#009}
.green {color:#060}
.purple {color:#609}
.gray {color:#666}
.brown {color:#C60}
.white {color:#FFF}

.em {font-style:italic}
.bold {font-weight:bold}

.arial {font-family:Arial,Helvetica,sans-serif}

.bigger {font-size:110%}
.smaller {font-size:82%}
.verysmall {font-size:60%}

/*    for gif and svg images in choices		*/
img.gif {display:inline}
iframe.svg {display:none}

span.textSub {				/*	for sans-serif subscript	*/
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
	font-size: 0.7em;
	position: relative;
	top: 0.4em;
	margin-left: 2px;
	margin-right: 2px;
}

video {
	outline:none;
	margin-top:20px;
	margin-bottom:30px;
}

a.videoButton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 11.5px 23px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
a.videoButton:hover {
   border-top-color: #3d779c;
   background: #3d779c;
   color: #e3e0e3;
   }
a.videoButton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }