body {
	margin:10pt 20pt;
	padding:0pt;
/*	background-color:#FFFFFF;			*/   /* set by instances of stylesheet */
	color:#110000;
	font-family:"Times New Roman", serif;
/*	font-size:16pt;			*/   /* set by instances of stylesheet */
}

strong {font-weight:bold;}
em {font-style:italic;}

div.centred {margin-left:auto; margin-right:auto; text-align:center;}

p {margin:15pt 0pt 15pt 20pt; line-height:1.5em;}

ul {
	padding-left: 10pt;
	line-height:1.5em;
	margin:15pt 0pt 15pt 40pt;
	color:#000055;
/*	list-style-image:url(bullet.png);	*/
}
ol {
	padding-left:10pt;
	line-height:1.5em;
	margin:15pt 0pt 15pt 50pt
	color:#000055;
}
li {margin-left:10pt; margin-top:5pt; line-height:1.5em;}

dl {line-height:1.5em; margin:0pt 0pt 10pt 20pt;}
dt {font-weight:bold; margin-left:20pt; margin-top:13pt; margin-bottom:5pt; line-height:1.5em; color:#000099;}
dd {line-height:1.5em; margin-left:40pt;}


table {margin:15pt;}
table.centred {margin-left:auto; margin-right:auto;}
td {line-height:1.3em;}
th {line-height:1.3em; font-weight:bold;}
td.single {line-height:100%;}
td.smallSingle {line-height:130%; color:#000000; font-family:Arial, Helvetica, sans-serif; font-size:small;}

a {text-decoration:underline; color:#000099;}

p.eqn {line-height:normal; margin-top:10pt ; margin-bottom:10pt; text-align:center;}
p.heading {margin-left:0pt; color:black; font-size:larger; font-weight:bold;}

p.questionPart {margin-left:0pt; margin-bottom:-10pt; color:black; font-size:larger; font-weight:bold;}
p.nextArrow {margin-top:30pt; margin-bottom:10pt; text-align:center;}
p.footnote {color:#999999; font-size:smaller; text-align:right; margin-top:5pt; margin-bottom:0pt;}

p.notPrinted {
	display:block;
}

span.instruction {color:#000066;}
span.reference {color:#000099;}
span.symbol {font-family: Symbol;}

div.boxed {
	background-color:#ffffff;
	border: 1px solid gray;
	font-weight:bold;
	width:75%;
	padding: 4px 12px 4px 12px;
	margin:15px auto;
}

div.percent50 {
	width:50%;
}

div.percent75 {
	width:75%;
}

div.boxed strong {
	color:red;
}

div.boxed ul {
	margin-left:0px;
	border:0px;
	padding-left:0px;
	margin-bottom:10px;
	margin-top:5px;
	color:black;
}

div.boxed li {
	color:black;
	text-align:left;
}

div.boxed p {
	margin-top:6px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
	color:black;
}

div.rightBoxLink {
	float: right;
	background-color: #ffffff;
	border-style:solid;
	border-width: 1px;
	border-color:#666666;
	margin: 5px;
	padding: 10px;
	font-size: large;
	font-weight:bold;
	cursor:pointer;
}
div.rightBoxLink a {
	color:#000000;
}

sub  { vertical-align: -0.4em; }

table table {			/*  for inner table  */
	margin:0px;
}

td.top, th.top {border-top:solid 1px #666;}
td.bottom, th.bottom {border-bottom:solid 1px #666;}
td.left, th.left {border-left:solid 1px #666;}
td.right, th.right {border-right:solid 1px #666;}

.black {color:#000000}
.red {color:#FF0000}
.darkred {color:#990000}
.blue {color:#0000FF}
.darkblue {color:#000099}
.green {color:#006600}
.purple {color:#660099}
.gray {color:#666666}
.brown {color:#CC6600}
.white {color:#FFFFFF}

.em {font-style:italic}
.bold {font-weight:bold}

.arial {font-family:Arial,Helvetica,sans-serif}

.bigger {font-size:110%}
.smaller {font-size:82%}
.verysmall {font-size:60%}

/*    for gif and svg images in choices		*/
img.gif {display:inline}
iframe.svg {display:none}




