BODY {margin:10pt; padding:0pt; background-color:#FFFFCC; color:#660000; font-family:serif;}

P {margin-left:20pt; margin-top:15pt ; margin-bottom:15pt; line-height:1.5em;}
UL {padding-left:10pt; line-height:1.5em; margin-top:5pt; margin-bottom:0pt; color:#000099;}
OL {padding-left:10pt; line-height:1.5em; margin-top:10pt; margin-bottom:0pt; color:#000099;}
DL {line-height:1.5em; margin-top:10pt; margin-bottom:0pt;}

DT {font-weight:bold; margin-left:20pt; margin-top:5pt; line-height:1.5em; color:#000099;}
DD {line-height:1.5em; margin-left:40pt;}
LI {margin-left:20pt; line-height:1.5em; margin-top:5pt; color:#000099;}

P.heading {margin-left:0pt; color:black; font-size:larger; font-weight:bold;}
P.footnote {color:#999999; font-size:smaller; text-align:right; margin-top:0pt ; margin-bottom:0pt;}


.black {color:#000}
.red {color:#F00}
.darkred {color:#900}
.blue {color:#00F}
.darkblue {color:#009}
.green {color:#060}
.purple {color:#609}
.gray {color:#666}
.brown {color:#C60}
.white {color:#FFF}

.em {font-style:italic}
.bold {font-weight:bold}

.arial {font-family:Arial,Helvetica,sans-serif}

.bigger {font-size:110%}
.smaller {font-size:90%}